apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: logging
data:
  config.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100

    ingester:
      wal:
        enabled: true
        dir: /tmp/wal
      lifecycler:
        address: 127.0.0.1
        ring:
          kvstore:
            store: inmemory
          replication_factor: 1
      chunk_idle_period: 5m
      max_chunk_age: 1h

    distributor:
      ring:
        kvstore:
          store: inmemory

    memberlist:
      join_members:
        - loki

    schema_config:
      configs:
        - from: 2024-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage_config:
      tsdb_shipper:
        active_index_directory: /tmp/loki/tsdb-index
        cache_location: /tmp/loki/tsdb-cache
      filesystem:
        directory: /tmp/loki/chunks

    limits_config:
      ingestion_rate_mb: 10
      ingestion_burst_size_mb: 20
      max_cache_freshness_per_query: 10m
      retention_period: 168h  # keep logs for 7 days
      allow_structured_metadata: true

    compactor:
      working_directory: /tmp/loki/compactor
      retention_enabled: true
      delete_request_store: filesystem

    ruler:
      storage:
        type: local
        local:
          directory: /tmp/loki/rules